<% include ../partials/header %>

<div class="container">
    <h1 style="text-align:center;">Edit your comment</h1>
    <div style="width: 30%; margin: 0 auto;">
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment.id%>?_method=PUT" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" value="<%= comment.text %>">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Update</button>
        </div>
    </form>
    <a href="/">Return Home</a>
    </div>
</div>

<% include ../partials/footer %>