<% include ../partials/header %>

<div class="container">
    <h1 style="text-align:center;">Add a New Comment to <%= campGround.name %></h1>
    <div style="width: 30%; margin: 0 auto;">
    <form action="/campgrounds/<%= campGround._id %>/comments" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" placeholder="Write your comment here!">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </form>
    <a href="/">Return Home</a>
    </div>
</div>

<% include ../partials/footer %>