<% include partials/header %>

<div class="container">
    <h1 style="text-align:center;">Sign Up as a new user!</h1>
    <div style="width: 30%; margin: 0 auto;">
    <form action="/register" method="POST">
        <div class="form-group">
            <input type="text" required class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" required class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </div>
    </form>
    </div>
</div>

<% include partials/footer %>