<% include ../partials/header %>

<div class="container">
    <h1 style="text-align:center;">Edit <%= campGround.name %></h1>
    <div style="width: 30%; margin: 0 auto;">
    <form action="/campgrounds/<%= campGround._id%>?_method=PUT" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="campground[name]" placeholder="name" value= "<%= campGround.name %>">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="campground[image]" placeholder="image URL" value= "<%= campGround.image %>">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="campground[price]" placeholder="price" min="0.01" step="0.01" value= "<%= campGround.price %>">
        </div>
        <div class="form-group">
            <textarea required class="form-control"  name="campground[description]" placeholder="description of campground" rows="3"><%= campGround.description %></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </form>
    <a href="/">Return Home</a>
    </div>
</div>

<% include ../partials/footer %>