<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds page</h1>
            <p>View our hand picked campgrounds!</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a New Campground</a></p>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h4>Our Most Popular Campgrounds!</h4>
        </div>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap; ">
        <% campGrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>"> 
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>
                    </div>
                    <p><a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a></p>
                </div>
                
            </div>
        <% }); %>
    </div>
    <a href="/">Return Home</a>
</div> 
<% include ../partials/footer %>