<% include ../partials/header %>



<div class="container">
    <h1 style="text-align:center;">Add a New Campgound</h1>
    <div style="width: 30%; margin: 0 auto;">
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="image" placeholder="image URL">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="price" placeholder="price" min="0.01" step="0.01">
        </div>
        <div class="form-group">
            <textarea required class="form-control"  name="description" placeholder="description of campground" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </form>
    <a href="/">Return Home</a>
    </div>
</div>

<% include ../partials/footer %>