<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
            </div>
        </div>
        <div class="col-md-9 col-sm-6">
            <div class="thumbnail">
                <img class"img-responsive" src="<%= campGround.image %>">
                <div class="caption-full">
                    <h5 class="pull-right">£<%= campGround.price %>/night</h5> 
                    <h3> <%= campGround.name %> </h1>
                    <p><%= campGround.description %></p>
                    <p>Submitted by: <%= campGround.author.username %></p>
                    <% if(currentUser && campGround.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%=campGround._id%>/edit">Edit Campground</a>
                        <form action="/campgrounds/<%= campGround._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Campground</button>
                        </form>
                    <% } %>
                </div>
            </div>
            
            <div class="well">
                <div class="text-right">
                    <p><a class="btn btn-primary" href="/campgrounds/<%=campGround._id%>/comments/new">Add a New Comment</a></p>
                </div>
                <hr>
                <% campGround.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong><%= comment.author.username %></strong> <span class="pull-right">10 days ago</span></p>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a type="button" class="btn btn-xs btn-warning" href="/campgrounds/<%=campGround._id%>/comments/<%=comment._id%>/edit">Edit </a>
                                <form action="/campgrounds/<%= campGround._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <p>

                    </p>
                <% }) %>
            </div>

        </div>
    </div>

</div>

<% include ../partials/footer %>